aws-lambda-powertools==1.10.5
aws-xray-sdk==2.6.0
beautifulsoup4==4.9.3
boto3==1.17.17
botocore==1.20.17
bs4==0.0.1
fastjsonschema==2.15.0
feedparser==6.0.2
future==0.18.2
jmespath==0.10.0
jsonpickle==2.0.0
s3transfer==0.3.4
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2
urllib3==1.26.3
wrapt==1.12.1
